{%extends 'base.html'%}

{%block css %} 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
{% endblock %}

{%block title %} Listado Asistencia {% endblock %}

{%block content %} 
<a class="btn btn-primary" href="../ver-asistencias" role="button">Atras</a>
<h1>Asistencias y notas de estudiante <span class="text-info">{{alumno.name}}</span> </h1>
<p>Haga click en la fecha para ver las notas de ese día</p>
<table  id="example" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Profesor</th>
        <th scope="col">Asistencia</th>
        <th scope="col" class="no-sort">Justificar Falta</th>
      </tr>
    </thead>
    <tbody>

        {%for asistencia in asistencias%}

        <tr>
            <th scope="row">{{asistencia.id}}</th>
            <td><a href="../ver-notas/{{asistencia.id}}">{{asistencia.fecha}}</a></td>
            <td>{{asistencia.profesor}}</td> 
            <td>{%if asistencia.asistencia == 'Asistio' %}
                <span class="badge badge-success">Asistente</span>
                {% elif asistencia.asistencia == 'Justificada' %}
                <span class="badge badge-warning">Justificada</span>
                {% else %}
                <span class="badge badge-danger">Inasistente</span>
                {% endif %}
                </td>
                <td>{%if asistencia.asistencia == 'Asistio' or asistencia.asistencia == 'Justificada'%}-{% else %}<a class="btn btn-primary" href="../{{asistencia.id}}/comentar" role="button">Justificar asistencia</a>{% endif %}</td>
          </tr>



    {%endfor%}
      
    </tbody>
  </table>

  {%block js %} 

  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
      "columnDefs": [ {
          "targets": 'no-sort',
          "orderable": false,
    } ]
  });
} );</script>
{% endblock %}

    {% endblock %}
</body>
</html>