{%extends 'base.html'%}

{%block title %} Listado Alumnos {% endblock %}

{%block content %} 
<div class="container-fluid">
  <h1>Listado de alumnos</h1>
<p>Haz click sobre el identificador del alumno para ver sus asistencias y notas</p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Identificador</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
      </tr>
    </thead>
    <tbody>

        {%for alumno in alumnos%}

        <tr>
            <th scope="row">{{alumno.id}}</th>
            <td><a href="ver-asistencia/{{alumno.id}}">{{alumno.identifier}}</a></td>
            <td>{{alumno.name}}</td>
            <td>{{alumno.last_name}}</td>
          </tr>



    {%endfor%}
      
    </tbody>
  </table>

    {% endblock %}

</div>
</body>
</html>