{%extends 'base.html'%}

{%block css %} 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
{% endblock %}

{%block title %} Listado Asistencia {% endblock %}

{%block content %} 
<a class="btn btn-primary" href="../ver-asistencias" role="button">Atras</a>
<h1>Notas del estudiante <span class="text-info">{{alumno.name}}</span> </h1>
<table  id="example" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Asistencia</th>
        <th scope="col">Curso</th>
        <th scope="col">Tipo</th>
        <th scope="col">Nota</th>
      </tr>
    </thead>
    <tbody>

        {%for nota in notas%}

        <tr>
            <th scope="row">{{nota.id}}</th>
            <td>{{nota.asistencia}}</td>
            <td>{{nota.curso}}</td> 
            <td>{{nota.tipo}}</td> 
            <td>{{nota.nota}}</td>
          </tr>



    {%endfor%}
      
    </tbody>
  </table>

  {%block js %} 

  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
      "columnDefs": [ {
          "targets": 'no-sort',
          "orderable": false,
    } ]
  });
} );</script>
{% endblock %}

    {% endblock %}
</body>
</html>